.extension-container {
  padding: 1em;
  width: 400px;
  height: 100%;
}

.whitelist-container {
  padding-left: 0;
  list-style: none;

  li .whitelist-remove-icon {
    margin-left: .5em;
    cursor: pointer;
  }

  li.whitelist-item-disabled {
    color: darkgrey;
  }
}

.settings-note {
  opacity: .5;
  margin-left: .5em;
}

.button {
  margin: 1em 0;
}
