<div class="extension-container">
  <h1>Cache Cleanser</h1>
  <p>Clear cache, cookies and storage for specific or every domain manually or automatically after loaded.</p>
  <h3>Settings:</h3>

  <div>
    <label for="cache-enabled-input">Enable cache clean: </label>
    <input (change)="settingsInputChange($event)" [(ngModel)]="cacheCleanEnabled" id="cache-enabled-input" type="checkbox">
  </div>

  <div>
    <label for="cookies-enabled-input">Enable cookies clean: </label>
    <input (change)="settingsInputChange($event)" [(ngModel)]="cookiesCleanEnabled" id="cookies-enabled-input" [disabled]="!cacheCleanEnabled" type="checkbox">
  </div>

  <br>

  <div>
    <label for="whitelist-input">Whitelist: </label>
    <input id="whitelist-input" [(ngModel)]="whitelistInputValue" [disabled]="!cacheCleanEnabled" type="text">
    <button [disabled]="!whitelistInputValue && !cacheCleanEnabled" (click)="addToWhitelist(whitelistInputValue)">Add to Whitelist</button>
  </div>

  <div>
    <em class="settings-note">Enable cleaning only on sites that are added to the whitelist.</em>
  </div>
  <div>
    <em class="settings-note" *ngIf="currentDomain && whitelist.length === 0">Example: {{ currentDomain }}</em>
  </div>

  <ul *ngIf="whitelist && whitelist.length > 0" class="whitelist-container">
    <li *ngFor="let url of whitelist" [ngClass]="{'whitelist-item-disabled': !cacheCleanEnabled}">
      {{ url }} <i (click)="removeWhitelistItemClick(url)" class="fa fa-times whitelist-remove-icon"></i>
    </li>
  </ul>

  <div>
    <button class="button" (click)="clearClick()" [disabled]="!cacheCleanEnabled">Manual Clear</button>
  </div>

  <div class="settings-note">
    {{ (whitelist && whitelist.length > 0) && cacheCleanEnabled ? 'Cache will be cleaned only in sites included in the whitelist' :  cacheCleanEnabled ? 'Cache will be cleaned in all sites' : ''}}
  </div>

  <div class="settings-note">
    {{ (whitelist && whitelist.length > 0) && cookiesCleanEnabled ? 'Cookies will be cleaned only in sites included in the whitelist' :  cookiesCleanEnabled ? 'Cookies will be cleaned in all sites' : ''}}
  </div>

</div>
